<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="../css/collapse-fix.css" rel="stylesheet">

    <title>Motion</title>
  </head>
  <body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <span class="navbar-brand h1">Motion</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="text-light mr-4">User Name</span>
        <a class="text-light" href="../" id="logout"><i class="fa fa-sign-out"></i> Log Out</a>
      </div>
    </nav>
  	<div class="container-fluid ">
      <div class="row d-flex d-md-block flex-nowrap">
        <div class="col-md-1 float-left col-1 bg-secondary collapse width show" id="sidebar">
          <nav class="nav flex-column">
            <a class="nav-link text-light" href="../">Home</a>
            <a class="nav-link text-light" href="../list?view=view">By View</a>
            <a class="nav-link text-light" href="../list?view=queue">By Queue</a>
            <a class="nav-link text-light" href="#">Create Case</a>
          </nav>
        </div>
        <div class="col-md-9 float-left bg-white">
          <div class="row">
            <div class="col">
              <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
          <div class="row pl-3">
            <div class="col">
              <!-- Begin main page content -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col form-inline">
                    <h1>
                      Case <static data="ID"></static>: <entry data="Subject" type="text"></entry>
                      <input type="text" class="form-control form-control-lg" data="Subject" hidden/>
                    </h1>
                  </div>
                  <div class="col-2">
                    <button id="edit-button" type="button" class="btn btn-primary float-right edit-button" disabled>Edit</button>
                    <button id="discard-button" type="button" class="btn btn-warning float-right edit-button" hidden>Discard</button>
                    <button id="save-button" type="button" class="btn btn-success float-right mr-1 edit-button" hidden>Save</button>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Queue:</span>
                          </div>
                          <entry type="select" class="form-control" id="form" data="FormId"></entry>
                          <select class="custom-select" id="form" data="/apiv2/forms/list" dataText="Name" dataValue="ID" hidden></select>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Created By:</span>
                          </div>
                          <static class="form-control" data="OpenedByName"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Messages:</span>
                          </div>
                          <static class="form-control" id="messageCount"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Priority:</span>
                          </div>
                          <entry type="select" class="form-control" id="priority"></entry>
                          <select class="custom-select" id="priority" hidden>
                            <option value="null">Set a Priority</option>
                            <option value="1">1 - Highest</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 - Lowest</option>
                          </select>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Source:</span>
                          </div>
                          <static class="form-control" data="SourceType"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Contact:</span>
                          </div>
                          <static class="form-control" id="contact"></static>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Status:</span>
                          </div>
                          <entry type="select" class="form-control" id="status" data="Status"></entry>
                          <select class="custom-select" id="status" hidden>
                            <option value="0">Open</option>
                            <option value="2">Waiting For More Info</option>
                            <option value="3">On Hold</option>
                            <option value="4">Rejected</option>
                            <option value="5">Working</option>
                            <option value="6">Waiting For Confimation</option>
                            <option value="1">Closed</option>
                          </select>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Last Updated:</span>
                          </div>
                          <static class="form-control" data="UpdatedDate"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Created:</span>
                          </div>
                          <static class="form-control" data="CreatedDate"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Assigned To:</span>
                          </div>
                          <entry type="select" class="form-control" id="assigned" data="AssignedId"></entry>
                          <select class="custom-select" id="assigned" data="/apiv2/users/list" dataText="Name" dataValue="ID" nullValue="No One" hidden>
                            <option value="null">No One</option>
                          </select>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Due:</span>
                          </div>
                          <static class="form-control" id="due"></static>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Participants:</span>
                          </div>
                          <static class="form-control" id="participants"></static>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="ticket-body" class="card">
                      <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item"><a id="comment-toggle" class="nav-link active" href="#comments">Comments</a></li>
                          <li class="nav-item mr-auto"><a id="history-toggle" class="nav-link" href="#history">History</a></li>
                          <button id="new-comment" class="btn btn-primary mb-1 pt-0 pb-0" data-toggle="collapse" data-target="#new-comment-box" aria-controls="new-comment-box" aria-expanded="false" aria-label="Toggle comment box">New Comment</button>
                        </ul>
                      </div>
                      <div id="new-comment-box" class="card-body collapse">
                        <div class="form-group">
                          <textarea id="commentBody" class="form-control" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="submit-comment-assigned">Create as subtask to: </label>
                          <select class="custom-select w-25" id="submit-comment-assigned" data="/apiv2/users/list" dataText="Name" dataValue="ID" nullValue="No One"></select>
                        </div>
                        <button id="submit-comment-internal" class="btn btn-primary">Submit Internal Comment</button>
                        <button id="submit-comment-external" class="btn btn-primary">Submit External Comment</button>
                      </div>
                      <div id="comments" class="card-body">
                      </div>
                      <div id="history" class="card-body" hidden>
                        <ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End main page content -->
            </div>
          </div>
        </div>
  	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/session.js"></script>
    <script src="../js/utils.js"></script>
    <script src="view.js"></script>

    <script>
    $(document).ready(function() {
      var session = new Session();
      if (session.session == undefined) {
        document.location = "../login";
        return;
      }

      var ticketId = getJsonFromUrl()['ticketId'];

      $('#logout').click(function() {
        session.clearSession();
      });

      $('#comment-toggle').click(function() {
        $('#ticket-body ul .active').removeClass('active');
        $('#comment-toggle').addClass('active');
        $('#ticket-body > .card-body:not([hidden]):not(.collapse)').prop('hidden', true);
        $('#comments').prop('hidden', false);
        $('#new-comment').prop('hidden', false);
      });

      $('#history-toggle').click(function() {
        $('#ticket-body ul .active').removeClass('active');
        $('#history-toggle').addClass('active');
        $('#ticket-body > .card-body:not([hidden]):not(.collapse)').prop('hidden', true);
        $('#history').prop('hidden', false);
        $('#new-comment').prop('hidden', true);
      });

      $('#edit-button').click(function() {
        $('#edit-button').prop('hidden', true);
        $('#save-button').prop('hidden', false);
        $('#discard-button').prop('hidden', false);
        makeEditable();
      });

      $('#save-button').click(function() {
        $('#edit-button').prop('hidden', false);
        $('#save-button').prop('hidden', true);
        $('#discard-button').prop('hidden', true);
        saveEdits(ticketId, session);
        discardEdits();
        loadTicket(ticketId, session);
      });

      $('#discard-button').click(function() {
        $('#edit-button').prop('hidden', false);
        $('#save-button').prop('hidden', true);
        $('#discard-button').prop('hidden', true);
        discardEdits();
      });

      $('#submit-comment-internal').click(function() {
        comment(ticketId, session, 0);
        loadTicket(ticketId, session);
      });

      $('#submit-comment-external').click(function() {
        comment(ticketId, session, 1);
        loadTicket(ticketId, session);
      });

      loadTicket(ticketId, session);
    });
    </script>
  </body>
</html>